<% if @project.user == current_user %>
  <div id="scene-form">
    <h3>Edit Scene</h3>

    <%= form_for [@project, @scene] do |f| %>

      <div class="field">
        <%= f.label :heading %><br>
        <%= f.text_field :heading, :placeholder => "Scene heading" %>
      </div>

      <div class="field">
        <%= f.label :action %><br>
        <%= f.text_area :action, :placeholder => "Action" %>
      </div>

      <div id="characters">
        <%= f.fields_for :characters do |character_fields| %>
          <%= render partial: "projects/character_fields", locals: {f: character_fields} %>
        <% end %>

        <div class="links">
          <%= link_to_add_association 'add character', f, :characters, {partial: 'projects/character_fields'} %>
        </div>
      </div>

      <div class="action">
        <%= f.submit "Edit Scene" %>
        <%= link_to "Delete Scene", [@project, @scene], method: :delete, data: {confirm: "Are you sure you want to delete this scene?"} %>
      </div>

    <% end %>
  </div>
<% end %>
