<% if @project.user == current_user %>
  <div id="edit-scene-form">
    <h1>Edit Scene</h1>

    <%= form_for [@project, @scene] do |f| %>

      <div class="field">
        <%= f.label :heading %>
        <%= f.text_field :heading, :placeholder => "Scene heading" %>
      </div>

      <div class="field">
        <%= f.label :action %>
        <%= f.text_area :action, :placeholder => "Action" %>
      </div>

      <div id="characters">
        <%= f.fields_for :characters do |character_fields| %>
          <%= render partial: "projects/edit_character_fields", locals: {f: character_fields} %>
        <% end %>

        <div class="links">
          <%= link_to_add_association 'Add Character', f, :characters, {partial: 'projects/edit_character_fields'} %>
        </div>
      </div>

      <div class="action" id="edit-btn">
        <%= f.submit "Confirm" %>
      </div>

      <div class="delete-btn">
        <%= link_to "Delete Scene", [@project, @scene], method: :delete, data: {confirm: "Are you sure you want to delete this scene?"} %>
      </div>

    <% end %>
  </div>
<% end %>
