<div class="background">
  <div id="user-show">
    <h1><%= @user.first_name %>'s Profile</h1>

    <p>
      <strong>Projects:</strong><br>
      <% @user.projects.each do |t| %>
      <%= image_tag t.cover_image.url(:thumb) %>
      <%= link_to "#{t.title}", project_path(t) %><br>
      Started on: <%= t.created_at.strftime('%b %e, %l:%M %p') %><br>
      Last updated on: <%= t.updated_at.strftime('%b %e, %l:%M %p') %><br>
      <% end %>
    </p>
  </div>
</div>
