<%= form_for @project do |f| %>

  <% if @project.errors.any? %>
  <div id="error-explanation">
    <h3><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h3>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </div>

  <div class="field">
    <%= f.label :cover_image %><br>
    <%= image_tag(@project.cover_image.url(:show)) if @project.cover_image? %>
    <%= f.file_field :cover_image %>
    <%= f.hidden_field :cover_image_cache %>
    Remove Image
    <%= f.check_box :remove_cover_image %>
  </div>


  <h2>Tags</h2>

  <%= f.fields_for :tags, Tag.new do |tag_field| %>
  <div class="field">
    <%= tag_field.text_field :title, :placeholder => "Tags" %>
  </div>
  <% end %>

  <div class="action">
    <%= f.submit "Create Project" %>
  </div>

<% end %>
