<% if @project.user == current_user %>
  <h3>New Scene</h3>

  <%= form_for [@project, @scene], remote: true do |f| %>

    <div class="field">
      <%= f.label :heading %><br>
      <%= f.text_field :heading, :placeholder => "Scene heading" %>
    </div>

    <div class="field">
      <%= f.label :action %><br>
      <%= f.text_area :action, :placeholder => "Action" %>
    </div>

    <div id="characters">
      <%= f.fields_for :characters do |character_fields| %>
        <%= render "character_fields", f: character_fields %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add character', f, :characters %>
      </div>
    </div>

    <div class="action">
      <%= f.submit "Create Scene" %>
    </div>

  <% end %>
<% end %>
