<%= link_to project_path(project.id) do %>
  <li class="project-item">
    <div class="project-thumb-image">
      <%= image_tag project.cover_image.url(:thumb) %>
    </div>

    <div class="project-card-info">
      <h3>
        <%= project.title %>
      </h3>

      <p><%= truncate(project.description, length: 50) %></p>
      <p>
        <strong>Tags:</strong>
        <% project.tags.each do |t| %>
        <%= t.title %>
        <% end %>
      </p>

    </div>
  </li>
<% end %>
