<div id="search-feature">
  <%= form_tag projects_path, method: :get, id: 'search-form' do %>
    <div id="search-input">
      <%= image_tag "search-image.png", id: "search-image"%>
      <%= text_field_tag :search, params[:search], :placeholder => "Search Projects", class: "search-field" %>
    </div>
  <% end %>
</div>

  <!-- <div id="hero-container">
    <div class="animated-text">
      <span class="typed-script"><span>
      <span class="typed-cursor"></span>
    </div>
  </div> -->

<div id="projects">
  <h1 class="align-header">Projects</h1>
    <ul class="projects-list">
      <%= render @projects %>
    </ul>
</div>

<div id="projects-back-link">
  <%= link_to 'Back', projects_path, id: "all-projects-link" %>
</div>
