<div id="search-feature">
  <%= form_tag projects_path, method: :get, id: 'search-form' do %>
    <div id="search-input">
      <%= image_tag "search-image.png", id: "search-image"%>
      <%= text_field_tag :search, params[:search], :placeholder => "Search Projects" %>
    </div>
  <% end %>
</div>
<div class="background">
  <!-- <div id="hero-container">
    <div class="animated-text">
      <span class="typed-script"><span>
      <span class="typed-cursor"></span>
    </div>
  </div> -->

  <div id="projects">
    <h1>Projects</h1>
      <ul id="projects-list">
        <%= render @projects %>
      </ul>

      <%= link_to 'All projects', projects_path, id: "all-projects-link" %>

  </div>

</div>
