<h1>Projects</h1>

<div id="search-feature">
  <%= form_tag projects_path, method: :get, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
  <% end %>
</div>

<%= link_to 'New Project', new_project_path %><br>

<div id="projects">
  <%= render @projects %>
</div>

<%= link_to 'All projects', projects_path %>
