<h2><%= @project.title %></h2>
<p><%= @project.description %></p>
<p><%= @project.story %></p>

<div id="comment-list">
  <h3>Comments:</h3>
  <%= render partial: "comments" %>
</div>

<div id="comment-form">
  <% if current_user %>
    <h3>Leave a Comment. Be Beta.</h3>
    <%= render partial: "create_comment" %>
  <% else %>
    <p>Please <%= link_to "log in", login_path %> to post a comment.</p>
  <% end %>
</div>

<%= link_to 'Back to projects', projects_path %> | <%= link_to 'Edit project', edit_project_path(@project) %>
