<div class="navbar">

    <%= link_to "Home", projects_path %>
    <%= link_to "#{current_user.first_name}'s profile", user_path(current_user.id) %>
    <%= link_to "Logout", :logout, method: :post %>
  <% else %>
    <%= link_to "Register", new_user_path %> |
    <%= link_to "Login", :login %>
  <% end %>
</div>
