<!DOCTYPE html>
<html>
<head>
  <title>Betascript</title>
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="webpage">
    <%= render '/layouts/nav' %>

    <%= yield %>

  </div>
    <div id="footer">
      <a href="https://github.com/adriencouture/betascript", target="_blank">
        <%= image_tag "github.png", id: "github-image"%>
      </a>
      <p id="copy">&copy 2016 BetaScript.co <br> Project by Jonathan Alorda & Adrien Couture</p>
    </div>

</body>
</html>
